body {
  font-family: "IBM Plex Sans", sans-serif !important;
  background-color: #525252 !important;
}
.hiGYOI {
  color: "#fff";
}

.persona-widget__iframe {
  width: 100% !important;
  height: 100% !important;
  border: none; /* Remove iframe border */
}
.iSAqNi {
  color: #fff !important;
  background-color: #525252 !important;
}
.lflOLU::before {
  border-bottom: none !important;
}

.FDmsy {
  color: #FFF !important;
}

.chNkuH {
  padding: 10px 14px !important
}
.jdwtAZ {
  padding-top: 0 !important;
}
.keGzLj:hover {
 
  border:none !important;
}